[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome
[submodule "site/themes/hugo-blog-awesome"]
	path = site/themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome
