{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block header_title %}
    Добро пожаловать!
{% endblock %}

{% block content %}
<section class="hero">
    <h2>Откройте для себя мир удобных онлайн-инструментов!</h2>
    <p>
        Добро пожаловать на наш портал – вашу новую универсальную платформу, 
        где собраны самые разнообразные и полезные онлайн-сервисы. 
        Мы создали это место, чтобы вам больше не приходилось тратить время на 
        поиск нужных инструментов на десятках разных сайтов. Нужно ли вам упорядочить задачи, 
        сократить длинную ссылку, найти вдохновение для нового проекта или 
        просто что-то быстро посчитать – все необходимое уже здесь, под рукой!
    </p>
    <h3>Ключевые "фичи":</h3>
    <ul>
        <li><strong>Всегда что-то найдется:</strong> Наш арсенал включает как простые утилиты для повседневных мелочей, так и более продвинутые инструменты, призванные сделать вашу цифровую жизнь проще и продуктивнее.</li>
        <li><strong>Просто и понятно:</strong> Мы постарались сделать интерфейс интуитивным, а описание каждого API – максимально ясным. Вы сможете легко использовать наши сервисы напрямую или быстро интегрировать их в свои проекты.</li>
        <li><strong>Для всех и каждого:</strong> Если вы разработчик, наши API уже готовы к работе. А если вы просто пользователь, для многих сервисов уже есть или скоро появятся удобные веб-интерфейсы, чтобы вы могли пользоваться ими без лишних сложностей.</li>
        <li><strong>Растем и развиваемся:</strong> Мы не останавливаемся на достигнутом! Наша команда постоянно работает над расширением списка сервисов, добавляя новые полезные и интересные инструменты.</li>
        <li><strong>Открытость и честность:</strong> Многие базовые функции наших сервисов доступны совершенно бесплатно. А если вам понадобится что-то большее, условия расширенного использования всегда будут прозрачными и понятными.</li>
    </ul>
    <p>
        Окунитесь в мир, где технологии работают на вас, делая задачи проще, 
        а идеи – ближе к реализации. Начните свое путешествие по нашим сервисам 
        прямо сейчас и оцените все преимущества сами!

    </p>
    <div class="cta-buttons">
        <a href="{{ url_for('list_all_services_page') }}" class="btn btn-primary">Начать пользоваться</a>
        <a href="#footer-contacts" class="btn btn-secondary">Связаться с нами</a>
    </div>
</section>
{% endblock %}